In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("Compitetion Dataset/train.csv")

In [3]:
data.describe()

,User_ID,Description,Browser_Used,Device_Used,Is_Response
count,38932,38932,38932,38932,38932
unique,38932,38932,11,3,2
top,id31969,I stayed at the Westin Copley Apr -----. The h...,Firefox,Desktop,happy
freq,1,1,7367,15026,26521

In [4]:
data.head()

,User_ID,Description,Browser_Used,Device_Used,Is_Response
0,id10326,The room was kind of clean but had a VERY stro...,Edge,Mobile,not happy
1,id10327,I stayed at the Crown Plaza April -- - April -...,Internet Explorer,Mobile,not happy
2,id10328,I booked this hotel through Hotwire at the low...,Mozilla,Tablet,not happy
3,id10329,Stayed here with husband and sons on the way t...,InternetExplorer,Desktop,happy
4,id10330,My girlfriends and I stayed here to celebrate ...,Edge,Tablet,not happy

In [5]:
del data['Browser_Used']
del data['Device_Used']

In [6]:
data.head()

   User_ID                                        Description Is_Response
0  id10326  The room was kind of clean but had a VERY stro...   not happy
1  id10327  I stayed at the Crown Plaza April -- - April -...   not happy
2  id10328  I booked this hotel through Hotwire at the low...   not happy
3  id10329  Stayed here with husband and sons on the way t...       happy
4  id10330  My girlfriends and I stayed here to celebrate ...   not happy

In [7]:
filtered = data['Description']

# Data Processing

In [8]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import  PorterStemmer
from nltk.stem import WordNetLemmatizer
from nltk import pos_tag
from nltk.tokenize import sent_tokenize, word_tokenize

In [9]:
lemmatizer = WordNetLemmatizer()
stopw = set(stopwords.words("english"))
#stopw.update(".", "?", "(", ")", ",", "-", "'", '"',"/","2","1","3","4","5","6","7","8","9","10","&")

In [10]:
def text_to_words(raw_text):   #use stemming and stopwords as well, it will increase its accuracy
    
    pos_t = (pos_tag(word_tokenize(raw_text)))
    words = raw_text.lower()
    lemmatizer.lemmatize(words)
    words = words.split()
    meaningful_words = [w for w in words if not w in stopw]
    return (" ".join(meaningful_words))

In [11]:
temp = data['Description']

In [12]:
new = temp[:10].apply(text_to_words)

In [ ]:
new

0    room kind clean strong smell dogs. generally a...
1    stayed crown plaza april -- - april --, ----. ...
2    booked hotel hotwire lowest price could find. ...
3    stayed husband sons way alaska cruise. loved h...
4    girlfriends stayed celebrate --th birthdays. p...
5    - rooms. one nice clearly updated recently oth...
6    husband stayed hotel times. though fanciest ho...
7    wife & stayed glorious city back. sf expensive...
8    boyfriend stayed fairmont recent trip san fran...
9    wonderful staff, great location, definately pr...
Name: Description, dtype: object

In [ ]:
data['Description'] = data['Description'].apply(text_to_words)

In [ ]:
data.head()

# Testing Data is loaded

In [ ]:
data_test = pd.read_csv("Compitetion Dataset/test.csv")

In [ ]:
data_test

In [ ]:
Given_pred = ['happy', 'not_happy','not_happy','not_happy','happy']

In [ ]:
Given_pred = pd.DataFrame(Given_pred)

In [ ]:
data_test['Given_pred'] = Given_pred

In [ ]:
data_test

# Classiication

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
v = CountVectorizer(analyzer = "word", ngram_range = (1,2))

In [ ]:
train_features = v.fit_transform(data['Description'])

In [ ]:
test_features = v.transform(data_test['Description'])

In [ ]:
y_train = data['Is_Response']

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
clf = DecisionTreeClassifier()
clf.fit(train_features, y_train)

In [ ]:
pred = clf.predict(test_features)   #57% accuracy is achieved

In [ ]:
data_test['predicted'] = pred

In [ ]:
data_test  #best approach yet

In [ ]:
predicted = data_test['User_ID']

In [ ]:
predicted = pd.DataFrame(predicted)

In [ ]:
predicted['predicted'] = data_test['predicted']

In [ ]:
predicted.head()

In [ ]:
np.savetxt("predictions.csv",predicted, delimiter=",", fmt='%s')

In [ ]:
#TF_IDF is not a good method for this dataset

In [ ]:
from sklearn.neural_network import MLPClassifier

In [ ]:
clf_n = MLPClassifier(hidden_layer_sizes = (4,3))
clf_n.fit(train_features,y_train)

In [ ]:
pred = clf_n.predict(test_features)

In [ ]:
data_test['predicted_mlp'] = pred

In [ ]:
data_test

In [ ]:
from sklearn.naive_bayes import MultinomialNB

In [ ]:
clf = MultinomialNB()
clf.fit(train_features, y_train)

In [ ]:
pred = clf.predict(test_features)

In [ ]:
data_test['predicted'] = pred

In [ ]:
data_test

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
clf_r = RandomForestClassifier()
clf_r.fit(train_features,y_train)

In [ ]:
pred = clf.predict(test_features)
data_test['predicted'] = pred

In [ ]:
data_test.head()

### NEED TO FIND BETTER APPROACH TO INCREASE THE SCORE